.egret-text-input,
.eui-default .egret-text-input {
	background-color: #1e2329;
	border: 1px solid #191e23;
	text-align: left;
}
.eui-black .egret-text-input {
	background-color: #303030;
	border: 1px solid #252525;
	text-align: left;
}

.egret-text-input:focus,
.eui-default .egret-text-input:focus {
	outline: 1px solid rgba(14,99,156,0.6);
	outline-offset: -1px;
	opacity: 1 !important;
}
.eui-black .egret-text-input:focus {
	outline: 1px solid rgba(14,99,156,1);
	outline-offset: -1px;
	opacity: 1 !important;
}

.egret-text-input.error,
.eui-default .egret-text-input.error {
	outline: 1px solid rgba(238, 36, 9, 0.6);
	outline-offset: -1px;
	opacity: 1 !important;
}
.eui-black .egret-text-input.error {
	outline: 1px solid rgba(238, 36, 9, 1);
	outline-offset: -1px;
	opacity: 1 !important;
}

.egret-text-input{
	color:#cbcbcb;
}
.egret-text-input:read-only {
	color: #929292;
}
.egret-text-input::-webkit-input-placeholder {
	color:#757575;
}

/* Context view */

.monaco-inputbox-container {
	text-align: right;
}

.monaco-inputbox-container .monaco-inputbox-message {
	display: inline-block;
	overflow: hidden;
	text-align: left;
	width: 100%;
	-webkit-box-sizing:	border-box;
	-o-box-sizing:		border-box;
	-moz-box-sizing:	border-box;
	-ms-box-sizing:		border-box;
	box-sizing:			border-box;
	padding: 0.4em;
	font-size: 12px;
	line-height: 17px;
	min-height: 34px;
	margin-top: -1px;
}
.monaco-inputbox {
	width: 100%;
}

.monaco-inputbox.idle {
	border: 1px solid transparent;
}

.monaco-inputbox.info {
	border: 1px solid #009CCC;
}

.monaco-inputbox-container .monaco-inputbox-message.info {
	background-color: #063B49;
	border: 1px solid #009CCC;
}

.monaco-inputbox.warning {
	border: 1px solid #F2CB1D;
}

.monaco-inputbox-container .monaco-inputbox-message.warning {
	background-color: #352A05;
	border: 1px solid #F2CB1D;
}

.monaco-inputbox.error {
	border: 1px solid #BE1100;
}

.monaco-inputbox-container .monaco-inputbox-message.error {
	background-color: #5A1D1D;
	border: 1px solid #BE1100;
}