.refresh-icon{	  
	background-image: url(./light/refresh.svg);
}
.save-icon{	  
	background-image: url(./light/save.svg);
}
.design-icon{	  
	background-image: url(./light/design.svg);
}
.animation-icon{	  
	background-image: url(./light/animation.svg);
}
.preview-icon{	  
	background-image: url(./light/preview.svg);
}
.code-icon{	  
	background-image: url(./light/source.svg);
}
.grab-icon{	  
	background-image: url(./light/grab.svg);
}

.min-icon{	  
	background-image: url(./light/min.svg);
}
.max-icon{	  
	background-image: url(./light/max.svg);
}
.zoomin-icon{	  
	background-image: url(./light/zoomin.svg);
}
.zoomout-icon{	  
	background-image: url(./light/zoomout.svg);
}

.adsorb-icon{	  
	background-image: url(./light/adsorb.svg);
}
.lockgroup-icon{	  
	background-image: url(./light/lockgroup.svg);
}
.databinding-icon{	  
	background-image: url(./light/databinding.svg);
}
.background-icon{	  
	background-image: url(./light/background.svg);
}


.exml-editor-navigation{
	display: flex;
	height: 34px;
	align-items: center;
	padding-left: 6px;
	padding-right: 6px;
}

.databinding-data-container .delete-data {
	background-image: url(./light/delete.svg);
}

.databingding-editor-root {
	height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.databinding-panel .add-data {
	background-image: url(./light/add.svg);
}

.databinding-header {
	display: flex;
	margin-bottom: 12px;
	margin-right: 12px;
    margin-top: 12px;
    background: #333333;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
}

.databinding-header-value {
	width: 100%;
	padding-left: 6px;
	user-select: none;
	cursor: default;
}

.databinding-item {
	display: flex;
    margin-bottom: 6px;
}