.test-icon-button {
	background-image: url("./delete.svg");
}

.test-icon1 {
	background-image: url("./delete.svg");
}
.test-icon2 {
	background-image: url("./design_dark.svg");
}
.test-icon3 {
	background-image: url("./addState.svg");
}